<html>

<head th:replace="~{layout.html::head(titre='Cours')}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <header th:replace="~{layout.html::header}">
    </header>

    <div class="grid grid-cols-3 gap-4">
        <div></div>
        <div th:if="${#lists.isEmpty(coursesList)}">
            (Aucun cours)
        </div>
        <div th:if="${!#lists.isEmpty(coursesList)}">
            <table class="table table-bordered">
                <tr>
                    <th>Sigle</th>
                    <th>Titre</th>
                    <th>ECTS</th>
                </tr>
                <tr th:each="course : ${coursesList}">
                    <td><a th:href="@{/courses(courseId=${course.id})}" th:text="${course.id}">ID</a></td>
                    <td><a th:href="@{/courses(courseId=${course.id})}" th:text="${course.title}">Titre</a></td>
                    <td th:text="${course.ECTS}">ECTS</td>
                </tr>
            </table>
        </div>
    </div>

    <h2 class="text-3xl underline grid grid-cols-3 gap-4">
        <div></div>
        <div>
            Ajouter un cours
        </div>
    </h2>
    <form th:action="@{/addCourse}" th:object="${course}" method="post" class="grid grid-cols-3 gap-4">
        <div></div>
        <div>
            <div class="form-group">
                Sigle du cours : <input type="text" th:field="*{id}" class="form-control" /></div>
            <span th:errors="*{id}" class="text-danger invalid-feedback">erreur</span>
            <div class="form-group">
                Titre du cours : <input type="text" th:field="*{title}" class="form-control" /></div>
            <span th:errors="*{title}" class="text-danger invalid-feedback">erreur</span>
            <div class="form-group">
                ECTS : <input type="text" th:field="*{ECTS}" class="form-control" /></div>
            <span th:errors="*{ECTS}" class="text-danger invalid-feedback">erreur</span>
            <button class="btn bg-blue-400" type="submit">Ajouter</button>
        </div>
    </form>
</body>

<footer>

</footer>

</html>