<html>

<head th:replace="~{layout.html::head(titre='Liste des cours')}">
</head>

<body>
    <header th:replace="~{layout.html::header}">
    </header>

    <div class="grid grid-cols-3 gap-4">
        <h2>Bienvenue dans le site de gestion du programme des etudlants</h2>
        <!-- <div id="requestData">
            ID du cours :
            <input type="string" v-model="id" /> <br>
            Titre du cours :
            <input type="string" v-model="title" /> <br>
            ECTS :
            <input type="number" v-model="ECTS" /> <br>
            <button id="compute" v-on:click="computeBMI">Calculer</button>
            <br>
        </div> -->

        <div id="requestData">
        </div>

        <div id="responseData" v-if="listOfCourses.length > 0">
            <br>
            {{listOfCourses}}
            <select>
                <option  value="course2.id" v-for="course2 in listOfCourses">
                    {{ course2 }}
                </option>
            </select>
        </div>
    </div>

    <footer>

    </footer>

    <script type="text/javascript" th:src="@{/courses.js}"></script>

</body>


</html>