<html>

<head th:replace="~{layout.html::head(titre='Liste des cours')}">

</head>

<body>
    <header th:replace="~{layout.html::header}">
    </header>

    <div class="grid grid-cols-3 gap-4">
        <h2>Bienvenue dans le site de gestion du programme des etudlants</h2>
        <div id="requestData" v-if="courses.length > 0">
            <br>
            <select v-for="course in this.listCourses">
                {{ course.title }}

            </select>
        </div>

        <!-- <div th:if="${!#lists.isEmpty(coursesList)}">
            <table class="table table-bordered">
                <tr>
                    <th>Sigle</th>
                    <th>Titre</th>
                    <th>ECTS</th>
                </tr>
                <tr th:each="course : ${coursesList}">
                    <td><a th:href="@{/courses(courseId=${course.id})}" th:text="${course.id}">ID</a></td>
                    <td><a th:href="@{/courses(courseId=${course.id})}" th:text="${course.title}">Titre</a></td>
                    <td th:text="${course.ECTS}">ECTS</td>
                </tr>
            </table>
        </div> -->
    </div>

    <footer>

    </footer>

    <script type="text/javascript" th:src="@{/courses.js}"></script>

</body>


</html>