<html>

<head th:replace="~{layout.html::head(titre='Détails du cours')}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body bgcolor="FFFFFF">
    <header th:replace="~{layout.html::header}">
    </header>

    <div class="grid grid-cols-2 gap-4">
    </div>
</body>

<footer>

</footer>

</html>