<html lang="fr" layout:decorate="~{layout}">

<head th:replace="~{layout.html::head(titre='Détails du projet')}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body bgcolor="FFFFFF">
    <main layout:fragment="content">
        <div class="grid grid-cols-2 gap-4">
            <div class="page-header">
                <table class="table">
                    <td>Titre de la story</td>
                    <td>Numéro de l'itération</td>
                    <td>Nombre de points estimés</td>
                    <tr th:each="story : ${storiesForOneProject}">
                        <td th:text="${story.projectName}">Nom du projet</td>
                        <td th:text="${story.sprintQantity}">Numéro de l'itération</td>
                        <td th:text="${story.estimate}">Nombre de points estimés</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
</body>

<footer>

</footer>

</html>