<html>

<head th:replace="~{layout.html::head(titre='Liste des cours')}">
</head>

<body>
    <header th:replace="~{layout.html::header}">
    </header>

    <div class="grid grid-cols-3 gap-4">
        <h3>Cours</h3>

        <div id="requestData" v-if="listOfCourses.length > 0">
            <br>

            <select v-on:change="showCourse()" v-model="courseModel">
                <option :value="course" v-for="course in listOfCourses">
                    {{ course.title }}
                </option>
            </select>
        </div>

        <div id="responseData">
            <ul>
                <li>Id : {{ course.id }}</li>
                <li>Titre : {{ course.title }}</li>
                <li>ECTS : {{ course.ects }}</li>
            </ul>
        </div>
    </div>

    <footer>

    </footer>

    <script type="text/javascript" th:src="@{/courses.js}"></script>

</body>


</html>