<html>

<head th:replace="~{layout.html::head(titre='Liste des étudiants')}">
</head>

<body>
    <header th:replace="~{layout.html::header}">
    </header>

    <h1>Etudiants</h1>

    <div class="grid grid-cols-3 gap-4">

        <div></div>

        <div id="requestData">

            <!-- <table class="table" v-if="listOfStudents.length > 0">
                <tr>
                    <th scope="col">Matricule</th>
                    <th scope="col">Name</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Section</th>
                </tr>
                <tr :value="student" v-for="student in listOfStudents">
                    <td scope="row">{{ student.matricule }}</td>
                    <td><a th:href="@{/students/{matricule}(matricule=${student.matricule})}">{{ student.name }}</a>
                    </td>
                    <td>{{ student.genre }}</td>
                    <td>{{ student.section }}</td>
                </tr>
            </table> -->

            <table class="table">
                <tr>
                    <th>Matricule</th>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Section</th>
                </tr>
                <tr th:each="student : ${listOfStudents}">
                    <td th:text="${student.matricule}"></td>
                    <td><a th:href="@{/students/{matricule}(matricule=${student.matricule})}"
                            th:text="${student.name}"></a></td>
                    <td th:text="${student.genre}"></td>
                    <td th:text="${student.section}"></td>
                </tr>
            </table>

            <form method="post" th:action="@{/students/add}" th:object="${student}">
                <div>
                    <label for="matricule">Matricule :</label><br>
                    <input type="text" th:field="*{matricule}" id="matricule" class="form-control"><br>
                    <span style="color: red" th:errors="*{matricule}" class="errorMsg">erreur</span>
                </div>
                <div>
                    <label for="name">Nom :</label><br>
                    <input type="text" th:field="*{name}" id="name" class="form-control"><br>
                    <span style="color: red" th:errors="*{name}" class="errorMsg">erreur</span>
                </div>
                <div>
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" th:field="*{genre}" th:value="'M'" id="M">
                            <label class="form-check-label" for="M">Male</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" th:field="*{genre}" th:value="'F'" id="F">
                            <label class="form-check-label" for="F">Female</label>
                        </div>
                        <div th:if="${student.genre == 'M'}" class="text-info">
                            <p>Vous avez sélectionné 'Homme'</p>
                        </div>
                        <div th:if="${student.genre == 'F'}" class="text-info">
                            <p>Vous avez sélectionné 'Femme'</p>
                        </div>
                    </div>
                    <span style="color: red" th:errors="*{genre}" class="errorMsg">erreur</span>
                </div>
                <div>
                    <div class="form-group">
                        <label for="section">Section</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" th:field="*{section}" th:value="'GESTION'"
                                id="GESTION">
                            <label class="form-check-label" for="GESTION">Gestion</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" th:field="*{section}" th:value="'RESEAUX'"
                                id="RESEAUX">
                            <label class="form-check-label" for="RESEAUX">Réseaux</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" th:field="*{section}" th:value="'INDUSTRIEL'"
                                id="INDUSTRIEL">
                            <label class="form-check-label" for="INDUSTRIEL">Industriel</label>
                        </div>
                    </div>
                    <span style="color: red" th:errors="*{section}" class="errorMsg">erreur</span>
                </div>
                <button class="btn btn-primary" type="submit">Ajouter</button>
            </form>
        </div>
    </div>

    <footer>

    </footer>

    <script type="text/javascript" th:src="@{/students.js}"></script>

</body>


</html>