<html>

<head th:replace="~{layout.html::head(titre='Détails étudiant')}">
</head>

<body>
    <header th:replace="~{layout.html::header}">
    </header>

    <h1 th:text="${student.matricule}"></h1>
    <h1 th:text="${student.name}"></h1>

    <div class="grid grid-cols-3 gap-20">

        <div></div>
        <div>
            <table class="table">
                <tr>
                    <th>Sigle</th>
                    <th>Titre</th>
                    <th>ECTS</th>
                </tr>
                <tr th:each="course : ${coursesForThisStudent}">
                    <td th:text="${course.id}"></td>
                    <td><a th:href="@{/courses/{id}(id=${course.id})}" th:text="${course.title}"></a></td>
                    <td th:text="${course.ects}"></td>
                </tr>
            </table>
        </div>

    </div>

    <footer>

    </footer>

    <script type="text/javascript" th:src="@{/courses.js}"></script>

</body>


</html>